<a href="https://colab.research.google.com/github/desunny/example/blob/main/02_PythonBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 파이썬 예약어(키워드) 리스트 확인하기 
import keyword 
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# 변수와 상수 
a = 'hello'
b = 1.2

print(a)
print(b)

hello
1.2

In [ ]:
# 기본자료형 숫자
c = 10
d = 10.3

print(type(c), type(d))

<class 'int'> <class 'float'>

In [ ]:
# 기본자료형 문자 
e = '문자열'
f = "문자열 값"
g = "'이것이 문자다'"


print(e, f, g)

문자열 문자열 값 '이것이 문자다'

In [ ]:
# 기본자료형 논리
hungry = True
sleepy = False
print(type(hungry))
print(not hungry)
print(hungry and sleepy)
print(hungry or sleepy)

<class 'bool'>
False
False
True

In [ ]:
# Sequences String(1)
str = 'hello world'

for i, chr in enumerate(str):
  print(chr, i)
  
print(str[0], str[-1])

h 0
e 1
l 2
l 3
o 4
  5
w 6
o 7
r 8
l 9
d 10
h d

In [ ]:
# Sequences String(2)
str = 'hello world'
print (str[0:5])
print (str[6:])
print (str[1:-2])

hello
world
ello wor

In [ ]:
# Sequences Tuples

t = (1, 'korea', 3, 5, 1)
print(t)
print(len(t))

for i in t:
  print(i)

(1, 'korea', 3, 5, 1)
5
1
korea
3
5
1

In [ ]:
# Sequnces - 리스트 (1)
a = [1, 3, 5, 'str', True]

print(type(a))
print(a[0])
a.append('a')
a.append(False)
print(a)

<class 'list'>
1
[1, 3, 5, 'str', True, 'a', False]

In [ ]:
# Sequnces - 리스트 (2)

b = [ '서울', '인천', '대전', '제주도']
print(b.index('제주도'))
print(b[0:2])
del b[1]
print(b)
b.remove('제주도')
print(b)

3
['서울', '인천']
['서울', '대전', '제주도']
['서울', '대전']

In [1]:
# Dictionary

tel = {'홍길동':1234, '이순신':5678}
# 추가 
tel ['임꺽정'] = 3102
print(tel)
#순서가 없기 때문에 인ㄷ게스로 접근할 수 없고, 키로 접근 가능
print(tel['홍길동'])
#삭제
del tel['홍길동']
print(tel)
print('이순신' in tel)

print(tel.keys())

{'홍길동': 1234, '이순신': 5678, '임꺽정': 3102}
1234
{'이순신': 5678, '임꺽정': 3102}
True
dict_keys(['이순신', '임꺽정'])

In [ ]:
#제어문 - if 

#입력값을 받아 x 변수에 저장하기 
x = int(input("please enter an integer: "))

if x < 0 :
  x = 0
  print("Negative changed to zero")
elif x== 0: 
  print('zero')
elif x==1:
  print('single')
else: 
  print('more')

please enter an integer: 1
single

In [ ]:
#제어문 for 

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#제어문 for with list

words = ['cat', 'window', 'defensetrate']

for w in words:
    print(w, len(w))

cat 3
window 6
defensetrate 12

In [ ]:
#제어문 while 

num = 1
while num <= 10:
  print(num)
  num = num + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#제어문 break

sizes = [33,35,34,37,32,35,39,32,35,29]
for i,size in enumerate(sizes):
    if size == 32:
        print("사이즈 32인 바지는 {}번째에 있다.".format(i+1))
        break

사이즈 32인 바지는 5번째에 있다.

In [ ]:
#제어문 continue

numbers = [(1, 2), (10, 0)]

for a, b in numbers:
    if b == 0:
        print("0으로 나눌 수는 없습니다.")
        continue
        
    print("{}을(를) {}로 나누면 {}".format(a, b, a/b))

1을(를) 2로 나누면 0.5
0으로 나눌 수는 없습니다.

In [ ]:
#함수 

def add(a, b):
  return a + b

a = 1
b = 2
c = add(a, b)
print (c)

3