<a href="https://colab.research.google.com/github/desunny/example/blob/desunny-steel/Lec01_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  1.파이썬 예약어 리스트 확인하기

In [ ]:
# 파이썬 예약어(키워드) 리스트 확인하기 
import keyword 
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## 2.변수와 상수

In [ ]:
# 변수와 상수 
a = 'hello'
b = 1.2

print(a)
print(b)

hello
1.2

##  3.기본 자료형

In [ ]:
# 기본자료형 숫자
c = 10
d = 10.3

print(type(c), type(d))

<class 'int'> <class 'float'>

In [1]:
# 기본자료형 문자 
e = '문자열'
f = "문자열 값"
g = "'이것이 문자다'."
h = '정말로?'


print(e, f, g, h)

문자열 문자열 값 '이것이 문자다'. 정말로?

In [5]:
# 기본자료형 논리
hungry = True
sleepy = False
print(type(hungry))
print(not hungry)
print(hungry and sleepy)
print(hungry or sleepy)

<class 'bool'>
False
False
True

In [13]:
a = 10
b = 20 
c = 3 

print(a +b)
print(a-b)
print(a*b)
print(b/a)
print(b%a)
print(a**c)
print(a//c)

30
-10
200
2.0
0
1000
3

In [19]:
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [29]:
c = a + b
print(c)

c += a 
print(c)
c -= a
print(c)
c *= a 
print(c)
c /=a 
print(c)
c %= a
print(c)
c = 2
c**=a 
print(c)
c //=a
print(c)

30
40
30
300
30.0
0.0
1024
102

In [37]:
a = True
b = False

d = a and b

print(d)
print((a or b))
print(not(a and b))
print

False
True
True

## 4.Sequenecs

In [38]:
# Sequences String(1)
str = 'hello world'

for i, chr in enumerate(str):
  print(chr, i)


print('-----')
print(str[0], str[-1])

h 0
e 1
l 2
l 3
o 4
  5
w 6
o 7
r 8
l 9
d 10
-----
h d

In [39]:
# Sequences String(2)
str = 'hello world'
print (str[0:5])
print (str[6:])
print (str[1:-2]) #-는 뒤에서 부터 오는 것 
print (str[1:-1])

hello
world
ello wor
ello worl

In [ ]:
# Sequences Tuples

t = (1, 'korea', 3, 5, 1)
print(t)
print('-------')
print(len(t))
print('-------')

for i in t:
  print(i)

(1, 'korea', 3, 5, 1)
-------
5
-------
1
korea
3
5
1

In [ ]:
# Sequnces - 리스트 (1)
a = [1, 3, 5, 'str', True]

print(type(a))
print('------')
print(a[0])
print('------')
a.append('a')
a.append(False)
print(a)

<class 'list'>
------
1
------
[1, 3, 5, 'str', True, 'a', False]

In [ ]:
# Sequnces - 리스트 (2)

b = [ '서울', '인천', '대전', '제주도']
print(b.index('제주도'))
print('------')
print(b[0:2])
print('------')
del b[1]
print(b)
b.remove('제주도')
print('------')
print(b)

3
------
['서울', '인천']
------
['서울', '대전', '제주도']
------
['서울', '대전']

In [40]:
# Dictionary

tel = {'홍길동':1234, '이순신':5678}
# 추가 
tel ['임꺽정'] = 3102
print(tel)
print('------')
#순서가 없기 때문에 인ㄷ게스로 접근할 수 없고, 키로 접근 가능
print(tel['홍길동'])
print('------')
#삭제
del tel['홍길동']
print(tel)
print('------')
print('이순신' in tel)
print('------')
print(tel.keys())

{'홍길동': 1234, '이순신': 5678, '임꺽정': 3102}
------
1234
------
{'이순신': 5678, '임꺽정': 3102}
------
True
------
dict_keys(['이순신', '임꺽정'])

## 5.제어문

In [43]:
#제어문 - if 

#입력값을 받아 x 변수에 저장하기 
x = int(input("please enter an integer: "))

if x < 0 :
  x = 0
  print("Negative changed to zero")
elif x== 0: 
  print('zero')
elif x==1:
  print('single')
else: 
  print('more')

please enter an integer: 1
single

In [ ]:
#제어문 for 

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#제어문 for with list

words = ['cat', 'window', 'defensetrate']

for w in words:
    print(w, len(w))

cat 3
window 6
defensetrate 12

In [ ]:
#제어문 while 

num = 1
while num <= 10:
  print(num)
  num = num + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#제어문 break

sizes = [33,35,34,37,32,35,39,32,35,29]
for i,size in enumerate(sizes):
    if size == 32:
        print("사이즈 32인 바지는 {}번째에 있다.".format(i+1))
        break

사이즈 32인 바지는 5번째에 있다.

In [ ]:
#제어문 continue

numbers = [(1, 2), (10, 0)]

for a, b in numbers:
    if b == 0:
        print("0으로 나눌 수는 없습니다.")
        continue
        
    print("{}을(를) {}로 나누면 {}".format(a, b, a/b))

1을(를) 2로 나누면 0.5
0으로 나눌 수는 없습니다.

In [ ]:
#함수 

def add(a, b):
  return a + b

a = 1
b = 2
c = add(a, b)
print (c)

3

## 6.파이썬 연습문제

1. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [ ]:
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

2. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [ ]:
phone_number = "010-1111-2222"

phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

3. movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

4. 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

![image.png]()

In [ ]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

5. 아래 코드의 출력 결과를 예상하라.

In [ ]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
    
print("5")

3
5

6. data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다. 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

In [ ]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for line in data:
    for column in line:
        print(column * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001